
<% if locals[:result] %>
	<% if locals[:result] == "Player" || locals[:result] == "Computer" %>

		<h1> <%= locals[:result] %> has won </h1>
	<% elsif locals[:result] %>
		<h1> You and computer have tied! </h1>
	<% end %>
	<a href ="/"

<h2> <a href="/new_game"> Play another game? </a></h2>